# Data
chroma_resume_db
data
evaluation_results
jd
#jd_json
Evaluation_Scores

# Processing Code Files
Rag_Eval.py
evaluate_all.py
llm_evaluation.py
resume_matcher.py

#Env
.venv
.idea
Backend/.dockerignore

#Python Cache
__pycache__

.DS_Store